{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'images/p.jpg' %}" height=50 width=50 class="d-inline-block alighn-top" />
    Probaho Courier Service
    </a> 

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% if request.user.is_staff%}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'products' %}">Products</a>
        </li>
        {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'account' %}">Settings</a>
      </li>
      {% endif %}
      {% if request.user.is_staff%}
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'generalorder' %}">Create General Order</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'generalorderlist' %}">General Order List</a>
      </li>
      {% endif %}
      </ul>
    </div>
    <span>{{request.user}}</span>
        <span><a class="nav-link" href="{% url 'logout' %}">Logout</a></span>  
  </nav>